<!-- <div class="container d-flex justify-content-center mt-3">
  <div class="btn-container mr-2">
    <div class="section left">
      <button class="btn btn-dark" (click)="getObservableData()">
        Get Obervable Data
      </button>
    </div>
  </div>
  <div class="section">
    <button class="btn btn-dark" (click)="getSubjectData()">
      Get Subject Data
    </button>
  </div>
</div>
<div class="text-container">
  <div class="section left">
    <div>{{ observableData1 }}</div>
    <div>{{ observableData2 }}</div>
  </div>
  <div class="section">
    <div>{{ subjectData1 }}</div>
    <div>{{ subjectData2 }}</div>
  </div>
</div>

<div class="_container">
  <div class="btn-container">
    <div class="section d-flex">
      <button class="btn btn-dark mr-3 emitBtn" (click)="emitData()">
        Emit Data
      </button>
      <button class="btn btn-dark" (click)="getData()">Subscribe</button>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="section">
    <div *ngFor="let item of myData">
      {{ item }}
    </div>
  </div>
</div> -->
<!-- 
<form action="">
  <label for="">Full Name</label>
  <input type="text" (input)="getValue($event)"/>
</form> -->

<besant-register></besant-register>