<!-- <p>template-ref works!</p> -->
<!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">User Name</label> -->
<!-- <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter your email"
    #userEmail
    (input)="getINputElement($event)"
     value="placeholder@gmail.com"
  /> -->
<!-- <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter your Name"
    #userEmail
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter your email"
    #userEmail
  />
</div> -->
<!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone</label>
  <input
    type="tel"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter your Phone"
    #userEmail
  />
</div> -->
<!-- <button class="btn btn-primary" (click)="submitEmail()">Submit</button> -->
<!-- 
<div *ngIf="isUser; else noUser">User is Present</div>

<ng-template #noUser>User is not Present today</ng-template>

<ng-template>NO condition based render using template </ng-template>

<ng-container>NO condition based render using container </ng-container> -->

<!-- <p>User EmailID: {{ userEmail.value }}</p> -->

<p>using div</p>

<div *ngIf="isUser">
  <p *ngFor="let item of users">{{ item }}</p>
</div>

<p>using ng-container</p>
<ng-container *ngIf="isUser">
  <p *ngFor="let item of users">{{ item }}</p>
</ng-container>
