<p>template-ref works!</p>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter your email"
    #userEmail
  />
</div>
<button class="btn btn-primary" (click)="submitEmail(userEmail)">Submit</button>

<besant-template-ref2 #templateTwoComponent></besant-template-ref2>
<besant-template-ref3 [templateTwo]="templateTwoComponent"></besant-template-ref3>

