<div class="card" style="width: 18rem">
  <div class="card-body">
    <ng-content select="#title"></ng-content>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <ng-content select="a"></ng-content>
    <ng-content select="button"></ng-content>
    <!-- <ng-content select=".btn"></ng-content> -->
  </div>
</div>

<ng-content></ng-content>

<button class="btn btn-primary mt-2 d-block" (click)="getRef()">
  Click here child
</button>
